@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro:wght@900&display=swap');

h1 {
   font-family: 'Source Sans Pro', Helvetica, Arial;
   font-size: 70px;
   font-style: normal;
   font-weight: normal;
   letter-spacing: 2px;
   line-height: 80px;
   text-transform: none;
   color: hsl(210, 31%, 89%);
}

body {
   font-family: 'Open Sans', Helvetica, Arial;
   font-size: 18px;
   font-style: normal;
   font-weight: normal;
   letter-spacing: 0.5px;
   line-height: 32px;
   text-transform: none;
   color: hsl(206, 6%, 79%);
   margin-left: 60px;
   margin-right: 60px;
   background-color: #242526;
}

.graph {
   font-family: 'Source Sans Pro', Helvetica, Arial;
   border-width: '5px';
   border-style: 'solid';
   border-color: '#ffffff';
   border-radius: '5px';
}
#demo-dropdown {
   letter-spacing: 0.5px;
   text-transform: none;
   color: #5D656C;
}

